import React from 'react'

import { use{{name}} } from './{{name}}.hooks'

export type {{name}}Props = {}

export default function {{name}}Skeleton(props: {{name}}Props) {
	const { classes } = use{{name}}()

	return (
		<div className={classes.{{camelCase name}} }>
		</div>
	)
}
